<p id="notice"><%= notice %></p>
<h4><%=@post.title%></h4>
<div class="container">
  <div class="row">
		<% if can? :manage, @post%><%= link_to 'Edit', edit_post_path(@post), class: "a_link" %> |<%end%>
		<%= link_to 'Back', posts_path, class: "a_link" %>
	</div>
</div>